@import "tailwindcss";

.mycontainer {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}
@theme {
  --breakpoint-xs: 280px;
  --breakpoint-xr: 450px;
  --breakpoint-xe: 550px;
  --breakpoint-xd: 900px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
